.color-primary{
    color: #00e5ff !important;
}
.deep-purple{
    background: #512da8 !important;
    color: white;
}
.deep-orange{
    background-color: #ff9800 !important;
    color: white;
}
.deep-green{
    background-color: #00e676 !important;
    color: white;
}
.deep-blue{
    background-color: #039be5 !important;
    color: white;
}